# mod_rewrite starter here

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

# ↓ Doesnt' work ↓

# DirectoryIndex home.html

# Redirect 301 / https://little.yessness.com/home.html