# mod_rewrite starter here

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# Remove trailing slash from non-filepath urls
RewriteCond %{REQUEST_URI} /(.+)/$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ https://little.yessness.com/%1 [R=301,L]

# Include trailing slash on directory
RewriteCond %{REQUEST_URI} !(.+)/$
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+)$ https://little.yessness.com/$1/ [R=301,L]

Options -Indexes

ErrorDocument 404 /404.html

# ↓ Doesnt' work ↓

# DirectoryIndex home.html

# Redirect 301 / https://little.yessness.com/home.html