// soni made this work, without soni this code would be nothing - soni howni (system operator for northern ireland)
// https://haha.yessness.com/index.html#

/* STYLESHIT TABLE OF CONTENTS
    1 Broad CSS
        1.1 Imports
        1.2 Variables
        1.3 Cursor
        1.4 Flex
        1.5 Header
        1.6 Body
        1.11 Github Logo
        1.12 Back to top
        1.13 Footer
        1.14 Icons
        1.15 Links
        1.16
    2 Page Specific
        2.1 Home
        2.2 School
        2.3 Freetime
        2.4 404
*/

// 1.1 Imports

@font-face
{
    font-family: "Roboto Condensed";
    src: url(assets/fonts/RobotoCondensed-Regular.ttf); // Imports font from fonts folder to use
}

@font-face
{
    font-family: "Righteous";
    src: url(assets/fonts/Righteous-Regular.ttf); // Imports font from fonts folder to use
}

// Variables

// Colors
$accent-light: #DEE0F7;
$accent-dark: #594B95;
$accent-light-purple: #B5AED6;
$accent-middle-purple: #9C92C8;
$accent-dark-purple: #0C070D;

// Sizes
$img-width: 400px !default;

// Breakpoints
$breakpoint: 500px;
$breakpoint-large: 800px;

// 1.4 Flex

#page,
#subpage
{
    display: flex; // Makes body a flexbox becuase flex good
    flex-direction: column;
    margin-top: 0;
    background-attachment: fixed;
}


// 1.5 Pages

#page
{
    //background-image: url("/assets/images/minimalist_trim1.jpg");
    //background-size: 100%;
    //background-repeat: no-repeat;
    //background-attachment: unset;
    color: $accent-light;
    text-align: center;
    font-family: "Roboto Condensed", Arial, sans-serif;
}

// 1.6 Header -------------------------------------------

#home-header #header
{
    display: flex;
    align-items: center; // Centered content
    justify-content: center; // Centers content

    padding: 1vw 0 5vw;

    column-gap: 6rem; // Gap between colums
    text-decoration: none;
    text-align: center;

    min-width: 150px;
    max-width: 2147483647px; // Should be less, but littel is bumd TODO: Make this better

    // Responsiveness
    @media (max-width: $breakpoint)
    {
        flex-direction: column-reverse;
        align-items: flex-start; // Centered content
        justify-content: flex-start; // Centers content
    }
}

//#home-header :nth-child(1) { order: 1; }
//#home-header :nth-child(2) { order: 3; }
//#home-header :nth-child(3) { order: 4; }
//#home-header :nth-child(4) { order: 5; }
//#home-header :nth-child(5) { order: 2; }

.btn
{
    color: $accent-light; // Sets color to variable
    text-decoration: none;
}

.btn:hover
{
    text-decoration: underline;
}

// fuck you - soni howni (system operator for northern ireland)
#homebtn
{
    @media (max-width: $breakpoint)
    {

    }
}

#schoolbtn
{
    @media (max-width: $breakpoint)
    {

    }
}

#personalbtn
{
    @media (max-width: $breakpoint)
    {

    }
}

#home-button-left
{
    margin-right: 12.5rem;
    font-size: 32px;
    max-width: 70px;
    padding: 15px 25px;
    text-align: center;
    font-family: Righteous, Arial, sans-serif;
}

#home-button-right
{
    margin-left: 12.5rem;
    color: #0C070D;
    padding: 15px 25px;
    border-radius: 25px;
    text-align: center;
    background-color: $accent-light; // Sets color to variable
}

#home-button-left, #home-button-right
{
    display: flex !important;
    flex-direction: row !important;
}

// 1.7 Body

body
{
    background-color: #B5AED6;
    margin: 0;
    font-size: 18px;
}

// 1.11 Github Logo

.logo
{
    position: fixed; // Fixed position
    bottom: 0; // Bottom justified
    left: 0; // Left justified
    z-index: 1000; // Makes item at the top of everything
    margin: 5px; // Margin
    background-color: transparent; // Background transparent
    width: 40px;
}

.rotate
{
    transition: transform ease-in-out 0.2s; // Logo transition
}

// Rotating transitions for github logo (for all browsers)

.rotate:hover
{
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: scale(1.1) rotate(360deg);
}

// 1.12 Back to top

#backtotop
{
    position: fixed; // Changes position to fixed to it stays still
    bottom: 0;
    right: 0;
    margin: 15px;
    z-index: 100; // Order of items
    //opacity: 0;
    transition: ease 300ms; // Transition
    //display: none;

}

// 1.13 Footer

footer
{
    position: initial;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.5rem;
    margin: fill;
    font-family: "Roboto Condensed", arial, sans-serif;
    color: $accent-light;
    text-align: center;
    background-color: $accent-light-purple;

}

// 1.14 Icons

.icon
{
    align-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
}

// 1.15 Links

// Adds user select on all browsers

a
{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

// 1.16 Scroll

*
{
    scroll-behavior: smooth;
}

// 2.1 Home

#background
{
    display: flex;
    align-self: center;



    position: fixed;
    //left: 50%;
    //transform: translate(-50%, 0); // Centers image with (line over) and (line under)
    z-index: -1;

    width: 100%;
    aspect-ratio: 16/9;

    // When viewport height is less than 800 do this
    @media (max-height: $breakpoint-large)
    {
        max-width: 100%;
        height: unset;
    }

    @media (min-width: 2000px)
    {
        margin: -250px 0 0 0;
    }

    @media (max-width: $breakpoint-large) {
        width: unset;
        height: 80vh;
    }

    @media (max-width: $breakpoint) {
        width: unset;
        height: 100vh;
    }
}

#home-headline
{
    font-family: Righteous, Arial, sans-serif;
    font-size: 60px;
}

#home-infobox
{
    margin: 0 0 11.5vw 0; // Bottom margin between about me and content of page.
}

#home-info
{
    margin: 5vh 30% 0 30%;
    mix-blend-mode: normal; // Mixes colors for smoother transition

    @media (max-width: $breakpoint)
    {
        margin: 5vh 10% 0 10%;
    }
}

.subjectbtn
{
    display: inline-block; // Fixes collapsing marges issue
    color: $accent-dark-purple;
    background-color: $accent-light;
    margin: 25px;
    padding: 15px 50px;
    min-width: 5vw;
    border-radius: 25px;
    text-decoration: none;

    @media (max-width: $breakpoint)
    {
        margin: 10px;
    }
}

.subjectbtn:hover
{
    text-decoration: underline;
}

// TODO: Remove this comment
// i removed some code here - soni howni (system operator for northern ireland)

.home-sections-light
{
    display: flex; // Makes box flex
    max-height: 500px;
    padding: 80px 180px;
    text-align: center;
    align-items: center;
    background-color: $accent-light-purple;

    // Adds custom properties for different viewport widths
    @media (max-width: 1050px)
    {
        padding: 25px 0;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint-large)
    {
        flex-direction: column;
        padding: 0;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint)
    {
        flex-direction: column;
        padding: 25px;
        margin: 0;
    }

    @media (min-width: 2000px)
    {
        padding: 125px 20vw;
    }
}

.home-sections-dark
{
    display: flex;
    max-height: 500px;
    padding: 80px 180px;
    text-align: center;
    align-items: center;
    background-color: $accent-middle-purple;

    // Adds custom properties for different viewport widths
    @media (max-width: 1050px)
    {
        padding: 25px 0;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint-large)
    {
        flex-direction: column-reverse;
        padding: 0;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint)
    {
        flex-direction: column-reverse;
        padding: 25px;
        margin: 0;
    }

    @media (min-width: 2000px)
    {
        padding: 125px 20vw;
    }
}

.home-sections-light *, .home-sections-dark *
{
    margin: 0 90px;

    // Adds custom properties for different viewport widths
    @media (max-width: 1400px)
    {
        padding: 25px 0;
        margin: 0 7vw;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint-large)
    {
        flex-direction: column;
        padding: 25px 0;
        margin: 0 10vw;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint)
    {
        flex-direction: column;
        padding: 25px;
        margin: 0;
    }
}

.home-sections-light p, .home-sections-dark p
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-sections-light p .home-sections-button, .home-sections-dark p .home-sections-button
{
    margin: 20px 0;
    text-align: center;
    max-width: 100px;
    min-width: 75px;
    border-radius: 2147483647px; // Epic integer limit

    // Adds custom properties for different viewport widths
    @media (max-width: 1400px)
    {
        padding: 15px 50px;
    }
}

.home-sections-title
{
    color: $accent-dark;
    font-size: 22px;
    margin: 0 0 20px 0;
}

.home-sections-img
{
    stroke: #594B95;
    stroke-width: $img-width;
    max-width: $img-width;
    aspect-ratio: 1/1;
}

.home-sections-dark img, .home-sections-light img
{
    width: $img-width;
    border-radius: 10px;

    @media (max-width: $breakpoint) {
        width: 200px;
    }
}

/*
!* Table of contents
    1 Broad CSS
      1.1 Imports
      1.2 Variables
      1.3 Cursor
      1.4 Flex
      1.5 Header
      1.6 Main
      1.7 Underpage
      1.8 Button
      1.9 Scroll
      1.10 Images
      1.11 Github Logo
      1.12 Links
      1.13 Footer
      1.14 Dropdown
    2 Page Specific
      2.1 Home
      2.2 School
      2.3 Freetime
      2.4 404
      2.5 Preloader
    3 Animations
    4 Rest
*!

// 1.1 Imports

@font-face
{
    font-family: "Roboto Condensed";
    src: url(assets/fonts/RobotoCondensed-Regular.ttf); !* Imports font from fonts folder to use *!
}

!* 1.2 Variables *!

html
{
    --accent-blue: rgb(23, 23, 82);
    --accent-blue-grad: linear-gradient(
            225deg,
            rgba(23, 23, 82, 1) 0%,
            rgba(36, 36, 130, 1) 25%,
            rgba(55, 55, 199, 1) 50%,
            rgba(36, 36, 130, 1) 75%,
            rgba(23, 23, 82, 1) 100%
    );
    --accent-pink: rgb(251, 99, 81);
    --accent-pink-grad: linear-gradient(
            to right,
            rgba(255, 151, 139, 1) 0%,
            rgba(249, 124, 128, 1) 50%,
            rgba(242, 115, 142, 1) 50%,
            rgba(251, 99, 81, 1) 0%,
            rgba(246, 89, 95, 1) 50%,
            rgba(242, 78, 112, 1) 100%
    );
    --accent-white: #fdfffc;
}

!* 1.3 Cursor *!

* {
    // cursor: url("assets/cursor/cursor-orange.png") 8 8, auto; // Adds custom cursor
}

// 1.4 Flex

#home,
#school,
body
{
    background: var(--accent-blue); !* Background color *!
    background: var(--accent-blue-grad); !* Gradient on background *!
    background-size: 500vw;
    animation: bkg-grad 12s infinite alternate;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    overflow: hidden;
    margin-top: 0;
}

!* 1.5 Header *!

#header
{
    z-index: 100000;
}

#home-header #header
{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    padding: 2vw 0 5vw 0;
    top: 0;
}

#subpage-header #header
{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    position: fixed;
    backdrop-filter: blur(50px);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 2vw 0 2vw 0;
    box-shadow: 0 0 0 0;
    transition: all 0.5s ease-out, background-color 0.5s ease 0.2s; !* Transition *!
    background: none;
}

#homebtn
{
    align-items: center;
    margin-left: 15vw;
}

#schoolbtn
{
    align-items: center;
}

#freetimebtn
{
    align-items: center;
    margin-right: 15vw;
}

!* 1.6 Main *!

.main
{
    margin: 0 20% 0 20%;
    text-align: center;
    color: var(--accent-white); !* Text color *!
    font-family: "Roboto Condensed", sans-serif; !* Changes font *!
}

br
{
    user-select: none;
}

!* 1.7 Underpage *!

p
{
    font-size: 20px; !* Font size *!
    margin: 50px 20% 50px 20%; !* Margin *!
}

.projectname
{
    font-size: 32px; !* Font size *!
}

.date
{
    font-size: 16px;
    margin: 2em 0 -3.25em 0 !important;
    color: #748cab;
}

!* 1.8 Button *!

.btn
{
    color: var(--accent-white);
    font-size: 25px;
    border: none;
    padding: 20px;
    text-decoration: none; !* No decor *!
    user-select: none; !* User can't select text *!
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif; !* Changes font *!

    background-size: 200% 100%;
    background-position: right bottom; !* Transition start position *!
    transition: all .5s ease-out; !* Transition *!
}

.btn:hover
{
    color: var(--accent-pink); !* Hover text color *!
    transform: scale(1.1);
}

.mainbtn
{
    margin: 0 30px;
    font-size: 20px !important; !* Font-size *!
    padding: 15px !important; !* Padding *!
    min-width: 145px !important; !* Min width *!
    max-width: 230px !important; !* Min width *!
}

.mainbtn:hover
{
    color: var(--accent-pink); !* Mainbtn hover color *!
}

#infobtn
{
    background: none !important;
    border: solid #F3526A !important;
    color: var(--accent-pink) !important;
    margin: 9vh 0 0 0 !important;
    transition: all .3s ease-out !important; !* Transition *!
}
your face
#infobtn:hover
{
    color: var(--accent-white) !important;
    background: #F3526A !important;
    border-radius: 15px !important;
}

#home-moreinfo
{
    text-align: center;
    bottom: 0;
    transform: translate(-50%, -25%); !* -50% on two sides to make centered *!
    position: absolute; !* Absolute to bypass any other set restrictions and bypass other html element *!
    color: var(--accent-white);
}

.subjectbtn
{
    color: var(--accent-white);
    border: none;
    text-decoration: none; !* No decor *!
    user-select: none; !* User can't select text *!
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif; !* Changes font *!

    background: var(--accent-pink);
    background: var(--accent-pink-grad); !* Gradient and gradient on button hover *!
    background-size: 200% 100%;
    background-position: right bottom; !* Transition start position *!
    transition: all .5s ease-out; !* Transition *!

    margin: 0 20px;
    font-size: 20px; !* Font-size *!
    padding: 15px; !* Padding *!
    min-width: 145px; !* Min width *!
    max-width: 230px; !* Min width *!
}

.subjectbtn:hover
{
    background-position: left bottom;
    transform: scale(1.1);
}

.morebtn
{
    !*cursor: none !important; !* Removes cursor on hover *!*!
    min-width: 165px !important; !* Adds !important min width *!
    max-width: 250px !important; !* Adds !important max width *!
    background: var(--accent-pink);
    background: var(--accent-pink-grad); !* Gradient and gradient on button hover *!
    background-size: 200% 100%;
    background-position: right bottom; !* Transition start position *!
    transition: all .5s ease-out; !* Hover transition *!
    margin: 0 .5em !important;
}

.morebtn:hover
{
    color: var(--accent-white) !important; !* Sets white accent color *!
    background-position: left bottom;
}

#backtotop
{
    position: fixed; !* Changes position to fixed to it stays still *!
    bottom: 0;
    right: 0;
    margin: 15px;
    z-index: 100; !* Order of items *!
    opacity: 0;
    transition: ease 300ms; !* Transition *!
    !*display: none;*!

}

!* 1.9 Scroll *!

*
{
    scroll-behavior: smooth; !* Change scroll behavior *!
    overscroll-behavior: none;
}

body
{
    overflow-y: hidden;
}

#home::-webkit-scrollbar
{
    display: none; !* Makes scrollbar invisible on homepage *!
}

::-webkit-scrollbar
{
    width: 10px; !* Width on scrollbar *!
}

!* Track *!
::-webkit-scrollbar-track
{
    background: #232425; !* Scrollbar track background color *!
}

!* Handle *!
::-webkit-scrollbar-thumb your face is pretty cringe if you ask me did you know that littel that your face is cringe
{
    background: rgba(242, 78, 112, 1); !* Scrollbar thumb color *!
    //border-radius: 2147483647px; !* Makes the thumb piece have round edges *!
    border-radius: 4px; !* Makes the thumb piece have round edges *!
}

::-webkit-scrollbar-thumb:hover
{
    background: rgba(249, 124, 128, 1); !* Scrollbar thumb piece hover color *!
}

!* 1.10 Images *!

.img
{
    width: 70%; !* Image width *!
    user-select: none;
    border-radius: 2rem;
    height: auto;
}

iframe
{
    width: 70%; !* Iframe width *!
    height: auto;
    border-radius: 2rem;
}

!* 1.11 Github Logo *!

.logo
{
    position: fixed; !* Fixed position *!
    bottom: 0; !* Bottom justified *!
    left: 0; !* Left justified *!
    z-index: 1000; !* Makes item at the top of everything *!
    margin: 5px; !* Margin *!
    background-color: transparent; !* Background transparent *!
    width: 2.2vw;
}

.rotate
{
    transition: transform ease-in-out 0.2s; !* Logo transition *!
}

!* Rotating transitions (for all browsers) *!

.rotate:hover
{
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: scale(1.1) rotate(360deg);
}

!* 1.12 Links *!

!* unvisited link *!
.here:link
{
    color: rgba(242, 78, 112, 1); !* Link color *!
}

!* visited link *!
.here:visited
{
    color: rgba(242, 78, 112, 1); !* Visited link color *!
}

!* mouse over link *!
.here:hover
{
    color: rgba(249, 124, 128, 1); !* Link hover color *!
}

!* selected link *!
.here:active
{
    color: rgba(242, 78, 112, 1); !* Link active color *!
}

!* 1.13 Footer *!

footer
{
    position: initial;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--accent-white);
    text-align: center;
}

!* 1.14 Dropdown *!

#dropdown-arrow
{
    height: 3.4vw;
    width: 3.4vw;
    stroke: var(--accent-white);
    transition: all .2s ease-out; !* Transition *!
    animation: svg-bounce 1.5s infinite alternate;
}

#dropdown-arrow:hover
{
    transform: scale(1.2);
    stroke: var(--accent-pink);
}

!* 2 Page Specific*!

!* 2.1 Home *!

#welcome
{
    text-align: center; !* Text align center *!
    margin-top: 20%; !* Margin top *!
}

#home-headline
{
    font-size: 60px; !* Font size *!
    top: 50%; !* 50% from top *!
    left: 50%; !* 50% from left *!
    transform: translate(-50%, -50%); !* -50% on two sides to make centered *!
    position: absolute; !* Absolute to bypass any other set restrictions and bypass other html element *!

}

#subpage-headline
{
    font-size: 60px; !* Font size *!
    margin: 45vh 0 0 0;
}

#homeinfobox
{
    margin: 150vh 0 28vh 0; !* Margin *!
}

#homeinfo
{
    font-size: 25px; !* Font size *!
    margin: 25px; !* Margin *!
}

#old
{
    position: fixed;
    right: 0;
    top: 0;
    padding: 1rem;
    text-align: center;
    color: var(--accent-white);
    border: none;
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    transition: all 0.5s ease-out; !* Transition *!
    z-index: 1000001;
}

#old:hover
{
    transform: scale(1.1);
}

#home #old
{
    position: absolute;
}

!* 2.2 School *!

#schoolcontent
{
    margin: 500px 0 0 0; !* Margin *!
    padding: 100px 0 0 0; !* Padding *!
}

!* 2.3 Freetime *!

!* 2.4 404 *!

.main404
{
    margin-top: -50px; !* Minus margin to move past previously set margin *!
    margin-bottom: 750px; !* Margin *!
}

error
{
    font-size: 40px;
}

!* 2.5 Preloader *!

.topbar
{
    z-index: 1000000;
}

!* 3 Animations *!

@keyframes bkg-grad
{
    0%
    {
        background-position: 0;
    }

    100%
    {
        background-position: 90%;
    }
}

@keyframes svg-bounce
{
    0%, 25%, 50%, 75%
    {
        margin-top: 0;
    }

    100%
    {
        margin-top: 20px;
    }
}

!* 4 Rest *!

::-moz-selection{
    !* Code for Firefox *!
    color: white;
    background: rgba(242, 78, 112, 1);
}

::selection{
    color: white;
    background: rgba(242, 78, 112, 1);
}

!* Connects class to grid area *!

.main {
    grid-area: main;
}
.header {
    grid-area: header;
}
#homebtn {
    grid-area: homebtn;
}
#schoolbtn {
    grid-area: schoolbtn;
}
#freetimebtn {
    grid-area: freetimebtn;
}

*/
