// soni made this work, without soni this code would be nothing - SOny howni (system operator for northern ireland)
// https://haha.yessness.com/index.html#

/* STYLESHIT TABLE OF CONTENTS
    1 Broad CSS
        1.1 Imports
        1.2 Variables
        1.3 Cursor
        1.4 Flex
        1.5 Pages
        1.6 Header
        1.7 Body
        1.8 Selection
        1.9 Images
        1.11 Github Logo
        1.12 Back to top
        1.13 Footer
        1.14 Icons
        1.15 Links
        1.16
    2 Page Specific
        2.1 Home
        2.2 School
        2.3 Freetime
        2.4 404
*/

//====================================
// 1.1 Imports
//====================================

@font-face
{
    font-family: "Roboto Condensed";
    src: url(assets/fonts/RobotoCondensed-Regular.ttf); // Imports font from fonts folder to use
}

@font-face
{
    font-family: "Righteous";
    src: url(assets/fonts/Righteous-Regular.ttf); // Imports font from fonts folder to use
}

// Variables

// Colors
$accent-light: #DEE0F7; // Lavender Web
$accent-light-light: #B5AED6; // Blue Bell
$accent-light-dark: #9C92C8; // Blue Bell
$accent-middle: #6152A3; // Liberty
$accent-middle-dark: #201C36; // Dark Purple
$accent-dark: #0C070D; // Rick Black FOGRA 39

// Sizes
$img-width: 400px;

// Breakpoints
$breakpoint: 550px;
$breakpoint-medium: 800px;
$breakpoint-large: 1200px;

//====================================
// 1.4 Flex
//====================================

#page,
#subpage
{
    display: flex; // Makes body a flexbox becuase flex good
    flex-direction: column;
    margin-top: 0;
    background-attachment: fixed;
}

//====================================
// 1.5 Pages
//====================================

#page
{
    //background-image: url("/assets/images/minimalist_trim1.jpg");
    //background-size: 100%;
    //background-repeat: no-repeat;
    //background-attachment: unset;
    color: $accent-light;
    text-align: center;
    font-family: "Roboto Condensed", Arial, sans-serif;
}

#page *
{
    transition: ease 300ms;
}


//====================================
// 1.6 Header
//====================================

#home-header #header
{
    display: flex;
    align-items: center; // Centered content
    justify-content: center; // Centers content

    padding: 1vw 0 5vw;

    column-gap: 6rem; // Gap between colums
    text-decoration: none;
    text-align: center;

    min-width: 150px;
    max-width: 2147483647px; // Should be less, but littel is bumd TODO: Make this better

    :nth-child(1) { order: 1; }
    :nth-child(2) { order: 2; }
    :nth-child(3) { order: 3; }
    :nth-child(4) { order: 4; }
    :nth-child(5) { order: 5; }

    // Responsiveness
    @media (max-width: $breakpoint)
    {
        flex-direction: column;

        :nth-child(1) { order: 1; }
        :nth-child(2) { order: 2; }
        :nth-child(3) { order: 3; }
        :nth-child(4) { order: 4; }
        :nth-child(5) { order: 5; }

        *
        {
            margin: 5px;
        }

        #homebtn, #personalbtn, #schoolbtn
        {
            font-size: 22px;
            padding: 10px;
        }

        #home-button-left, #home-button-right
        {

        }
    }

    // Responsiveness
    @media (max-width: $breakpoint-large)
    {
        column-gap: 5vw; // Gap between colums
    }

    @media (max-width: 720px)
    {
        column-gap: 3vw; // Gap between colums
    }
}

//#header-middle
//{
//    display: flex;
//
//    @media (max-width: $breakpoint) {
//        flex-direction: row;
//    }
//}

.btn
{
    color: $accent-light; // Sets color to variable
    text-decoration: none;
}

.btn:hover
{
    text-decoration: underline;
}

// fuck you - soni howni (system operator for northern ireland)
#homebtn
{
    @media (max-width: $breakpoint)
    {

    }
}

#schoolbtn
{
    @media (max-width: $breakpoint)
    {

    }
}

#personalbtn
{
    @media (max-width: $breakpoint)
    {

    }
}

#home-button-left
{
    margin-right: 12.5rem;
    font-size: 32px;
    max-width: 90px;
    padding: 15px 25px;
    text-align: center;
    font-family: Righteous, Arial, sans-serif;

    // Responsiveness
    @media (max-width: $breakpoint-large)
    {
        margin-right: 10vw;
    }

    @media (max-width: 720px)
    {
        margin-right: 8vw;
    }

    @media (max-width: $breakpoint) {

    }
}

#home-button-right
{
    margin-left: 12.5rem;
    color: #0C070D;
    padding: 15px 25px;
    border-radius: 25px;
    text-align: center;
    background-color: $accent-light; // Sets color to variable

    // Responsiveness
    @media (max-width: $breakpoint-large)
    {
        margin-left: 10vw;
    }

    @media (max-width: 720px)
    {
        margin-left: 8vw;
    }
}

//====================================
// 1.7 Body/
//====================================

body
{
    background-color: $accent-light-light;
    margin: 0;
    font-size: 18px;
}

//====================================
// 1.8 Selection
//====================================

::-moz-selection{
    // Code for Firefox
    color: $accent-light;
    background: $accent-middle;
}

::selection{
    color: $accent-light;
    background: $accent-middle;
}

//====================================
// 1.9 Images
//====================================

iframe
{
    aspect-ratio: 16/9;
}

iframe, img
{
    width: $img-width;

    @media (max-width: $breakpoint)
    {
        width: 200px;
    }
}

//====================================
// 1.11 Github Logo
//====================================

.logo
{
    position: fixed; // Fixed position
    bottom: 0; // Bottom justified
    left: 0; // Left justified
    z-index: 1000; // Makes item at the top of everything
    margin: 5px; // Margin
    background-color: transparent; // Background transparent
    width: 40px;
}

.rotate
{
    transition: ease-in-out 0.2s !important; // Logo transition
}

// Rotating transitions for github logo (for all browsers)

.rotate:hover
{
    transition: 0.7s !important;
    -webkit-transition: 0.7s !important;
    -moz-transition: 0.7s !important;
    -ms-transition: 0.7s !important;
    -o-transition: 0.7s !important;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: scale(1.1) rotate(360deg) !important;
}

//====================================
// 1.12 Back to top
//====================================

#backtotop
{
    margin: 0 0 0 50px;
    z-index: 1000; // Order of items
    opacity: 0;
    stroke: #100d0e;
}

#dropdown-arrow
{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

//====================================
// 1.13 Footer
//====================================

footer
{
    position: initial;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.5rem;
    margin: fill;
    font-family: "Roboto Condensed", arial, sans-serif;
    color: $accent-light;
    text-align: center;
    background-color: $accent-light-light;
}

//====================================
// 1.14 Icons
//====================================

.icon
{
    align-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
}

//====================================
// 1.15 Links
//====================================

// Adds user select on all browsers

a
{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

//====================================
// 1.16 Scroll
//====================================

*
{
    scroll-behavior: smooth;
}

//====================================
// 2.1 Home
//====================================

#background
{
    display: flex;
    align-self: center;

    position: fixed;
    //left: 50%;
    //transform: translate(-50%, 0); // Centers image with (line over) and (line under)
    z-index: -1;

    width: 100%;


    // When viewport height is less than 800 do this
    @media (max-height: $breakpoint-medium)
    {
        max-width: 100%;
        height: unset;
    }

    @media (min-width: 2000px)
    {
        margin: -250px 0 0 0;
    }

    @media (max-width: $breakpoint-large)
    {
        height: 80vh;
        min-width: 180vh;
    }

    @media (max-width: $breakpoint)
    {
        height: 100vh;
        min-width: 215vh;
    }
}

#home-headline
{
    font-family: Righteous, Arial, sans-serif;
    font-size: 60px;
    
    @media (max-width: $breakpoint-medium) {
        margin: 0 20px;
    }
}

#home-infobox
{
    margin: 0 0 11.5vw 0; // Bottom margin between about me and content of page.
}

#home-info
{
    margin: 5vh 30% 0 30%;
    mix-blend-mode: normal; // Mixes colors for smoother transition

    @media (max-width: $breakpoint)
    {
        margin: 5vh 10% 0 10%;
    }
}

.subjectbtn
{
    display: inline-block; // Fixes collapsing marges issue
    color: $accent-dark;
    background-color: $accent-light;
    margin: 25px;
    padding: 15px 50px;
    min-width: 5vw;
    border-radius: 25px;
    text-decoration: none;

    @media (max-width: $breakpoint)
    {
        margin: 10px;
    }
}

.subjectbtn:hover
{
    text-decoration: underline;
}

// TODO: Remove this comment
// i removed some code here - soni howni (system operator for northern ireland)

.home-sections-light
{
    display: flex; // Makes box flex
    max-height: 500px;
    padding: 80px 180px;
    text-align: center;
    align-items: center;
    text-shadow: rgba($accent-dark, .5) 0 0 .2rem;
    background-color: $accent-light-light;

    // Adds custom properties for different viewport widths
    @media (max-width: 1350px)
    {
        padding: 50px 0;
        max-height: 20000px;
    }

    @media (max-width: 1050px)
    {
        padding: 25px 0;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint-medium)
    {
        flex-direction: column;
        padding: 25px;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint)
    {
        flex-direction: column;
        padding: 25px;
        margin: 0;
    }

    @media (min-width: 2000px)
    {
        padding: 125px 20vw;
    }
}

.home-sections-dark
{
    display: flex;
    max-height: 500px;
    padding: 80px 180px;
    text-align: center;
    align-items: center;
    text-shadow: rgba($accent-dark, .5) 0 0 .2rem;
    background-color: $accent-light-dark;

    // Adds custom properties for different viewport widths
    @media (max-width: 1350px)
    {
        padding: 50px 0;
        max-height: 20000px;
    }

    @media (max-width: 1050px)
    {
        padding: 25px 0;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint-medium)
    {
        flex-direction: column-reverse;
        padding: 25px;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint)
    {
        flex-direction: column-reverse;
        padding: 25px;
        margin: 0;
    }

    @media (min-width: 2000px)
    {
        padding: 125px 20vw;
    }
}

.home-sections-light *, .home-sections-dark *
{
    margin: 0 90px;

    // Adds custom properties for different viewport widths
    @media (max-width: 1400px)
    {
        margin: 0 7vw;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint-medium)
    {
        flex-direction: column;
        margin: 0 10vw;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint)
    {
        flex-direction: column;
        margin: 0;
    }
}

.home-sections-light p, .home-sections-dark p
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-sections-light p .home-sections-button, .home-sections-dark p .home-sections-button
{
    margin: 20px 0;
    text-align: center;
    max-width: 100px;
    min-width: 75px;
    text-shadow: 0 0;
    border-radius: 2147483647px; // Epic integer limit

    // Adds custom properties for different viewport widths
    @media (max-width: 1400px)
    {
        padding: 15px 50px;
    }
}

.home-sections-title
{
    color: $accent-middle-dark;
    font-size: 22px;
    margin: 0 0 20px 0;
    text-shadow: 0 0;

    @media (max-width: $breakpoint-medium) {
        margin: 25px 0 20px 0;
    }
}

.home-sections-img
{
    stroke: #594B95;
    stroke-width: $img-width;
    max-width: $img-width;
    aspect-ratio: 1/1;
}
.home-sections-dark img, .home-sections-light img
{
    width: $img-width;
    border-radius: 1rem;

    @media (max-width: $breakpoint)
    {
        min-width: 80vw;
        width: 80vw;
    }
}


//====================================
// 2.1 Subpages
//====================================

#schoolcontent
{
    .odd
    {
        background-color: $accent-light-light !important;
        flex-direction: row-reverse;

        p
        {
            text-shadow: rgba($accent-dark, .5) 0 0 .2rem;
        }

        @media (max-width: $breakpoint-medium)
        {
            flex-direction: column;
        }
    }

    .even
    {
        background-color: $accent-light-dark !important;
    }
}

.subpage-content-flex
{
    display: flex; // Makes box flex
    padding: 80px 180px;
    text-align: center;
    align-items: center;
    justify-content: center;

    // Adds custom properties for different viewport widths
    @media (max-width: 1350px)
    {
        padding: 50px 0;
        max-height: 20000px;
    }

    @media (max-width: 1050px)
    {
        padding: 25px 0;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint-medium)
    {
        flex-direction: column;
        padding: 25px;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint)
    {
        flex-direction: column;
        padding: 25px;
        margin: 0;
    }

    @media (min-width: 2000px)
    {
        padding: 125px 20vw;
    }
}

.subpage-content-flex *
{
    margin: 0 40px;
    text-align: center;

    // Adds custom properties for different viewport widths
    @media (max-width: 1400px)
    {
        margin: 0 7vw;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint-medium)
    {
        flex-direction: column;
        margin: 0 10vw;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint)
    {
        flex-direction: column;
        margin: 0;
    }
}

.content
{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 70ch;
}

.projecttitle
{
    color: $accent-middle-dark;
    font-size: 22px;
    margin: 0 0 20px;
}

.date
{
    margin: 0 0 -.5em;
    padding: 15px;
    text-align: center;
    align-self: center;
    color:  $accent-middle-dark;
}

.here
{
    padding: 0 15px;
}

#schoolcontent
{

    img {
        border-radius: 1rem;

        @media (max-width: $breakpoint)
        {
            min-width: 80vw;
            width: 80vw;
        }

    }

    iframe
    {
        min-width: $img-width;
        width: $img-width;

        border-radius: 1rem;

        @media (max-width: $breakpoint)
        {
            min-width: 300px;
            width: 300px;
        }
    }
}
