/* Gjør at siden blir delt inn i 5 like store kolonner og setter font*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  grid-template-areas:"header   header   header   header   header"
                      "main     main     main     main     main"
                      "main     main     main     main     main"
                      "info1    info1    info1    info1    info1"
                      "footer   footer   footer   footer   footer";
}

/* Header fra grid-container blir delt inn i 10 like store kolonner */  
.headergrid {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-evenly;
  grid-template-columns: 1fr;
  grid-template-areas:"header1"
                      "header2"
                      "header3"
                      "header4"
                      "header5"
                      "header6"
                      "header7"
                      "header8"
                      "header9"
                      "header10";
}

/* Textimage fra grid-container blir delt inn i egne deler*/ 
.imagegrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "emptyspace emptyspace emptyspace emptyspace emptyspace"
                       "overskrift overskrift overskrift overskrift overskrift";
}

.buttonsGrid {
  margin: 100px 30% -300px 30%;
  position: center;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "404button1 404button2 404button3";
}

/* Setter bakgrunnsfarge */ 
.body {
  margin: 0;
  background-color: rgba(92, 84, 84, 0.342);
}

/* Setter bakgrunnsfarge, margin og skygge på header */
.header {
  padding: 20px 10px;
  margin: 10px;
  background-color: rgba(221, 206, 206, 0.288);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*Gjør at teksten blir sentrert*/ 
.header1 {
  text-align: center;
  margin: -20px 0 0 0;
}

/*Gjør at teksten blir sentrert*/ 
.header8 {
  text-align: center;
}

/*Gjør at teksten blir sentrert*/ 
.header9 {
  text-align: center;
}

/*Gjør at teksten blir sentrert*/ 
.header10 {
  text-align: center;
}

/*Gjør knappen finere*/ 
.link1 {
  text-decoration: none;
  color: white;
}

button {
  outline: none;
}

/* Gjør at dropdown menyen blir fin*/ 
.dropbtn {
  color: white;
  font-size: 16px;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 15px 0 15px 0;
  margin-top: 20px;
  text-decoration: none;
  background-color: #424242;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.dropbtn:hover {
  z-index: 0;
}

/* Gjør at dropdown menyen blir fin*/ 
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Gjør at dropdown menyen blir fin*/ 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

/* Gjør at dropdown menyen blir fin*/ 
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Gjør at dropdown menyen blir fin*/ 
.dropdown-content a:hover {background-color: #f1f1f1}

/* Gjør at dropdown menyen blir fin*/ 
.dropdown:hover .dropdown-content {
  display: block;
}

/* Gjør at dropdown menyen blir fin*/ 
.dropdown:hover .dropbtn {
  background-color: darkslategray;
  transition-duration: 0.4s;
}

/* Gjør at bilde blir så stor så jeg vil ha det.*/ 
.emptyspace {
  height: 100px;
}

/* Gjør at hovuddelen blir fin*/
.navn1 {
  background-color: rgba(29, 27, 27, 0.781);
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 20px;
}

/* Utvider siden*/
.overskrift {
  text-align: center;
  margin-bottom: 350px;
}

/* Utvider siden*/
.overskrift1 {
  margin-bottom: -250px;
}

.mainGithub {
  position: fixed;
  bottom: 0%;
  left: 0%;
  z-index: 100;
  width: 1.3%;
  margin: 0;
  padding: 5px;
  border-top: 4px solid #a691c4;
  border-right: 4px solid #a691c4;
  border-bottom: 4px solid #6e5494;
  border-left: 4px solid #6e5494;
  background-color: #ccd;
}

/* Gjør at bakgrunnsbilde blir fint */
.main {
  background-color: rgba(221, 206, 206, 0.288);
  background-image: url(../images/cup-of-coffee-1280537_1920.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 10px 0 10px;
  background-attachment: fixed;
}

/* Gjør at bakgrunnsbilde blir fint */
.main_konsep {
  background-color: rgba(221, 206, 206, 0.288);
  background-image: url(../images/work-731198_1920.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Gjør at bakgrunnsbilde blir fint */
.main_produk {
  background-color: rgba(221, 206, 206, 0.288);
  background-image: url(../images/camera-2598507_1920.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Gjør at bakgrunnsbilde blir fint */
.main_teknol {
  background-color: rgba(221, 206, 206, 0.288);
  background-image: url(../images/social-media-763731_1920.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Gjør info området fint*/
.p1 {
  text-align: center;
  background-color: rgba(29, 27, 27, 0.781);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  margin: 100px 5% 100px 5%;
  font-size: larger;
}

/* Gjør info området fint */
.p2 {
  text-align: center;
  background-color: rgba(29, 27, 27, 0.781);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  margin: 0 20px 0 20px;
  font-size: larger;
}

/* Legger til skygge på info */
.info1 {
  text-align: center;
  box-shadow: 0 -150px 75px 75px #c6c4c5;
  z-index: 1;
}

/* Gjør at teksten er sentrert */
.info2 {
  text-align: center;
}

/* Gjør at datoen teksten blir større*/
.date1 {
  text-decoration: underline;
  font-size: 25px;
}

/* Endrer størrelse på bildet*/
.img {
  width: 90%;
}

/* Endrer størrelse på bildet*/
.img1 {
  width: 90%;
}

/* Gir footer en bakgrunnsfarge, høyde og litt andre ting */
.footer {
  height: 100px;
  margin: 10px;
  text-align: center;
  position: relative;
  background-color: rgb(45, 46, 49);
}

/* Endrer tekstfargen*/
.footer-text {
  text-align: center;
  color: white;
}

/* Link farge*/
.her:link {
  color: #c0bdbd;
}

/* Når besøkt link */
.her:visited {
  color: #c0bdbd;
}

/* Mus over link */
.her:hover {
  color: #a49c9c;
}

/* Valgt link */
.her:active {
  color:#c0bdbd;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Gjør at de forskjellige områdene som var definert i starten er tilkoblet html */
.header { grid-area: header; }
.emptyspace { grid-area: emptyspace; }
.overskrift { grid-area: overskrift; }
.info1 { grid-area: info1; }
.footer { grid-area: footer;}
.main { grid-area: main;}

.hjelp1 { grid-area: hjelp1;}
.hjelp2 { grid-area: hjelp2;}

.header1 { grid-area: header1; }
.header2 { grid-area: header2; }
.header3 { grid-area: header3; }
.header4 { grid-area: header4; }
.header5 { grid-area: header5; }
.header6 { grid-area: header6; }
.header7 { grid-area: header7; }
.header8 { grid-area: header8; }
.header9 { grid-area: header9; }
.header10 { grid-area: header10; }


/*  ↑  Alt over er css for mobil  ↑  */

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*  ↓  Alt under er css for pc  ↓  */


@media only screen and (min-width:830px) {
/* Gjør at siden blir delt inn i 5 like store kolonner og setter font*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  grid-template-areas:"header header header header header"
                      "main main main main main"
                      "main main main main main"
                      "info1 info1 info1 info1 info1"
                      "footer footer footer footer footer";
}

/* Header fra grid-container blir delt inn i 10 like store kolonner */  
.headergrid {
  display: grid;
  margin: 0 0 0 20px;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:"header1 header1 header3 header4 header5 header6 header7 header8 header9 header10";
}

/* Textimage fra grid-container blir delt inn i egne deler*/ 
.imagegrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:"emptyspace emptyspace emptyspace emptyspace emptyspace"
                      "overskrift overskrift overskrift overskrift overskrift";
}

/* Setter bakgrunnsfarge, margin og skygge på header */
.header {
  padding: 20px 0 20px 0;
  margin: 10px;
}

/*Gjør at teksten blir sentrert*/ 
.header1 {
  text-align: left;
  margin: 0 0 0 0;
}

/* Gjør at dropdown menyen blir fin*/ 
.dropbtn {
  color: white;
  min-width: 175px;
  width: initial;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 15px 0 15px 0;
  margin: 0 20px 0 0;
  text-decoration: none;
}

.dropbtn:hover {
  z-index: 0;
}

/* Gjør at dropdown menyen blir fin*/ 
.dropdown {
  position: relative;
  display: inline-block;
}

/* Gjør at dropdown menyen blir fin*/ 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 175px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
}

/* Gjør at dropdown menyen blir fin*/ 
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Gjør at bilde blir så stor så jeg vil ha det.*/ 
.emptyspace {
  height: 0;
}

/* Gjør at hovuddelen blir fin*/
.navn1 {
  background-color: rgba(29, 27, 27, 0.781);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Utvider siden*/
.overskrift {
  margin-top: 350px;
  text-align: center;
  margin-bottom: 600px;
}

/* Utvider siden*/
.overskrift1 {
  margin-bottom: -250px;
}

/* Gjør info området fint*/
.p1 {
  text-align: center;
  background-color: rgba(29, 27, 27, 0.781);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  margin: 104px 2px;
  font-size: larger;
}

/* Gjør info området fint*/
.p2 {
  background-color: rgba(29, 27, 27, 0.781);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 104px 2px 0 2px;
  font-size: larger;
}

/* Legger til skygge på info */
.info1 {
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  box-shadow: 0 -150px 75px 75px #c6c4c5;
  z-index: 1;
}

/* Gjør at teksten er sentrert */
.info2 {
  text-align: center;
}

/* Endrer størrelse på bildet */
.img {
  width: 50%;
}

/* Endrer størrelse på bildet */
.img1 { 
  width: 50%; 
}

.img2 {
  width: 60%;
}
}
